In [2]:
## importing:
import pandas as pd

## Creating DataFrames:
##### pd.DataFrame(dict)
keys = columns:
value = list of entries:

Uses ascending count for row labels from 0 (0, 1, 2, 3....)
But sometimes when we want to assign row labels (i.e. index), use => index

In [19]:
# Creating pandas dataframe:
# integer:
df1 = pd.DataFrame({"Yes": [50,21,45],
              "No": [4,5,78]})

In [20]:
df1.dtypes

Yes    int64
No     int64
dtype: object

In [16]:
# String + integer
df = pd.DataFrame({"Yes": [50,21,45],
              "No": [4,5,"Hello world"]})

In [17]:
df.dtypes

Yes     int64
No     object
dtype: object

In [5]:
# String:
pd.DataFrame({"Prabin": ["I like it", "Not so good"],
              "Ram": ["Good overall", "no bad"]})

        Prabin           Ram
0    I like it  Good overall
1  Not so good        no bad

In [14]:
# using index:
df = pd.DataFrame({"Prabin": ["I like it", "Not so good"],
              "Ram": ["Good overall", "no bad"]},
              index = ["Product A", "Product B"])

In [15]:
df.dtypes

Prabin     int64
Ram       object
dtype: object

In [7]:
## Creating series:
# pd.Series( list , index = list, name = name_of_series)
# Series doesnot have column name

pd.Series([1, 2, 4,45])

0     1
1     2
2     4
3    45
dtype: int64

## Reading data files:

In [37]:
# rading:
# pd.read_csv() with 30 optional parameters:
ipl_df = pd.read_csv("IPL_Ball_by_Ball_2008_2022.csv") #eg: index_col = 0
ipl_df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [30]:
## shape returns tupple in (row, column) format
ipl_df.shape

(225954, 17)

## Saving dataframe to disk:

In [38]:
ipl_df.to_csv("ipl_new_csv.csv")